<!DOCTYPE html>
<html>
<head>
  <title>Etfsql</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p hidden class="notice"><%= notice %></p> <!-- treba za devise - user, ako ima problema izbrisati "hidden" -->
  <p hidden class="alert"><%= alert %></p> <!-- treba za devise - user, ako ima problema izbrisati "hidden" -->
  
<%= yield %>
  
</body>
</html>
